<%- include('partials/header') %>
<h2>Photo Previews</h2>
<div class="gallery">
    <img src="/images/sample1.jpg" alt="Preview 1">
    <img src="/images/sample2.jpg" alt="Preview 2">
    <img src="/images/sample3.jpg" alt="Preview 3">
</div>
<%- include('partials/footer') %>